Repository ericPrince/optical-flow: changes, and which pre-commit hooks are due for each by the changed paths.
All: pipenv-check, isort

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pipenv-check
        name: pipenv-check
        language: system
        entry: pipenv check
        files: Pipfile(\.lock)?|setup\.(cfg|py)
        pass_filenames: false
      - id: black
        name: black
        language: system
        entry: pipenv run black
#        require_serial: true
        types_or: [python, pyi]
      - id: isort
        name: isort
        language: system
        entry: pipenv run isort
        types_or: [python]

Fix displacement in opencv comparison, and update to use newer packages
  Pipfile
  Pipfile.lock
  compare_to_opencv.py
  images/yosemite-compare-noreg.png
  images/yosemite-compare-projective.png
  optical_flow.py
  setup.cfg
Due: pipenv-check, isort

Create github CI workflow
  .github/workflows/main.yml
Due: none

Reorganize and use uv
  .gitignore
  .python-version
  LICENSE.txt
  environment.yml
  pyproject.toml
  setup.cfg
  setup.py
  src/optical_flow.py
  uv.lock
Due: pipenv-check, isort

Working version, updated to latest numpy and scipy
  .pre-commit-config.yaml
  Pipfile
  Pipfile.lock
  README.md
  compare_to_opencv.py
  pyproject.toml
  src/optical_flow.py
Due: pipenv-check, isort

Update CI settings
  .github/workflows/main.yml
  compare_to_opencv.py
  src/optical_flow.py
Due: isort
